{% extends 'base.html' %}

{% block content %}
<div class="container full-height d-flex flex-column justify-content-center align-items-center">
    <p class="h2">Accounts</p>

    <div class="row">
        {% for i in accounts %}
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ loop.index }}" data-bs-toggle="dropdown" aria-expanded="false" style="margin: 5px">
                        {{ i.username }} ({{i.followers_count}})
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ loop.index }}">
                        <li><a class="dropdown-item {% if i.getting_followers or i.adding_to_close_friends %} disabled {% endif %}" href="{% url 'update-instagram-acount' i.username %}">Modifica credenziali</a></li>
                        {% if not i.getting_followers %}
                          <li><a class="dropdown-item {% if i.followers_count  > 0 or i.adding_to_close_friends %} disabled {% endif %}" href="{% url 'get-account-followers' i.username %}">Ottieni follower</a></li>
                        {% else %}
                          <li><a class="dropdown-item" href="#">
                            <button class="btn btn-success" type="button" disabled>
                              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                              Raccolta di follower...
                            </button>
                          </a></li>
                        {% endif %}
                        {% if not i.adding_to_close_friends %}
                          <li><a class="dropdown-item {% if i.followers_count  == 0 %} disabled {% endif %}" href="{% url 'add-followers-to-close-friends' i.username %}">Aggiungi follower agli amici più stretti</a></li>
                        {% else %}
                          <li><a class="dropdown-item" href="#">
                            <button class="btn btn-success" type="button" disabled>
                              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                              Aggiungere follower agli amici più stretti...
                            </button>
                          </a></li>
                        {% endif %}
                        <li><a class="dropdown-item {% if i.getting_followers or i.adding_to_close_friends %} disabled {% endif %}" data-bs-toggle="modal" data-bs-target="#deleteAccount{{i.username}}" href="#">Reimposta i follower dell'account</a></li>
                        <li><a class="dropdown-item {% if i.getting_followers or i.adding_to_close_friends %} disabled {% endif %}" data-bs-toggle="modal" data-bs-target="#deleteAccountModel{{i.username}}" href="#">Elimina account</a></li>
                    </ul>
                </div>
            </div>
            <div class="modal fade" id="deleteAccountModel{{i.username}}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminare {{i.username}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Sei sicuro di voler eliminare questo account?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancellare</button>
                    <button type="button" onclick="window.location.href = '{% url 'delete-ig-account' i.username %}' "
                      class="btn btn-danger">Eliminare</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="deleteAccount{{i.username}}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reset {{i.username}}'s seguaci</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Vuoi davvero reimpostare i follower di questo account?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancellare</button>
                    <button type="button" onclick="window.location.href = '{% url 'reset-account-followers' i.username %}' "
                      class="btn btn-danger">Reset</button>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
</div>
<style>
  
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

</style>
{% endblock content %}