
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    .form-container {
      max-width: 500px;
      width: 100%;
    }
    .full-height {
      height: 100vh;
    }
  </style>
</head>
<body>

<div class="container full-height d-flex flex-column justify-content-center align-items-center">
  
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success" role="alert" id="alert-message">
          {{message}}
        </div>
      {% else %}
        <div class="alert alert-danger" role="alert" id="alert-message">
          {{message}}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  
  {% if request.GET.password_reset_sent and request.GET.password_reset_sent == 'True' %}
    <p class="h2">Reimposta password inviata</p>
    <p>Un link per la reimpostazione della password è stato inviato al tuo indirizzo e-mail ed è valido solo per 10 minuti</p>
    <p> Se non trovi l'email nella tua casella di posta, controlla la cartella spam.</p>
  {% else %}
    <p class="h2">Reimposta password</p>
    <p>Inserisci l'indirizzo email associato al tuo account.</p>
    <div class="form-container">
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">E-mail:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        <p>Ricorda la tua password? <a href="{% url 'login' %}">Login</a></p>
        <button type="submit" class="btn btn-primary w-100">Invia</button>
      </form>
    </div>
  {% endif %}
</div>

<!-- Bootstrap JS Bundle (includes Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
